.game {
  --cell-size: 100px;
  --player-size: calc(0.8 * var(--cell-size));
  position: relative;
  width: calc(3 * var(--cell-size));
  border: 2px solid #000;
}

.container {
  display: flex;
  flex-direction: row;
  height: 300px;
  border: 3px solid red;
  gap: 0px;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  width: 500px;
  margin-bottom: 40px;
}

.box {
  height: 100px;
  width: auto;
  border: 3px solid blue;
  background-color: yellow;
  font-size: 30px;
}

.box-2 {
  order: 1;
  padding-top: 20px;
  align-self: flex-start;
}
.box-1 {
  order: 2;
  padding-bottom: 15px;
  align-self: flex-end;
}

.centering-cont {
  position: relative;
  margin: 32px;
  border: 3px solid red;
  height: 100px;
  width: 400px;
}

.some-text {
  position: absolute;
  top: 10px;
  left: 10px;

  height: var(--player-size);
  width: var(--player-size);
  background-color: #000;
  border-radius: 50%;
}

.game__player--x--1 {
  left: calc(0.1 * var(--cell-size));
}
.game__player--x--2 {
  left: calc((0.1 * var(--cell-size)) + var(--cell-size));
}
.game__player--x--3 {
  left: calc((0.1 * var(--cell-size)) + 2 * var(--cell-size));
}

.game__player--y--1 {
  top: calc(0.1 * var(--cell-size));
}
.game__player--y--2 {
  top: calc((0.1 * var(--cell-size)) + var(--cell-size));
}
.game__player--y--3 {
  top: calc((0.1 * var(--cell-size)) + 2 * var(--cell-size));
}

.game__player--color--red {
  background-color: red;
}

.box1 {
  background-color: pink;
  flex-grow: 1;
  flex-basis: 100px
}

.box2 {
  background-color: blue;
  max-width: 100px;
  flex-basis: 60px;
  flex-grow: 2;
}