$paddingOfBody: 20px;

body {
  padding: 0 $paddingOfBody;
  background-color: #444;
}

.card-input {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 60px;
  padding: 4px 8px;
  font-size: 18px;
  z-index: 1;
}

.container {
  --column-count: 1;
  border: 3px solid #000;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(2, 180px);


  row-gap: 20px;
  column-gap: 10px;
  

  grid-auto-flow: row;
  grid-auto-columns: 100px;
  grid-auto-rows: 50px;

  justify-items: stretch;
  align-items: stretch;

  justify-content: space-between;
  align-content: space-between;
}


.card {
  // width: 50px;
  // height: 70px;

  border: 2px solid #00f;
  background-color: yellowgreen;
}
